<div class="container" fxLayout="column" class="toplevel-container">
  <!-- Search side navigation -->
  <mat-sidenav-container fxFlex class="sidenav-container">
    <mat-sidenav [(opened)]="sidenavOpened" mode="side">
      <app-sidenav (searchUpdateEvent)="searchUpdate($event)" [towers]="towers">
      </app-sidenav>
    </mat-sidenav>

    <!-- Tower list side navigation -->
    <mat-sidenav [(opened)]="towersOpened" position="end" mode="side" class="towernav">
      <app-towers (selectTower)="selectTower($event)" [towers]="displayed">
      </app-towers>
    </mat-sidenav>

    <!-- Map contents -->
    <mat-sidenav-content>
      <app-map [towers]="displayed" [selected]="selected"
               (buttonEvent)="mapButtonEvent($event)">
      </app-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
