<div class="container" fxLayout="column" class="toplevel-container">
  <!-- Search side navigation -->
  <mat-sidenav-container fxFlex class="sidenav-container" hasBackdrop="false">
    <mat-sidenav [(opened)]="sidenavOpened" mode="over">
      <app-sidenav [towers]="towers"
                   (searchEvent)="searchEvent($event)"
                   (closeEvent)="closeEvent()">
      </app-sidenav>
    </mat-sidenav>

    <!-- Map contents -->
    <mat-sidenav-content>
      <app-map [searchResult]="searchResult"
               (buttonEvent)="mapButtonEvent($event)">
      </app-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
