<h2 mat-dialog-title>{{tower.place}}</h2>

<mat-dialog-content>
  <div class="tower-container">
    <div>Dedication:</div>
    <div>{{tower.dedication}}</div>

    <div>County:</div>
    <div>{{tower.county}}</div>

    <div>Bells:</div>
    <div>{{tower.bells}}</div>

    <div>Tenor:</div>
    <div>{{weight()}}</div>

    <div>Practice:</div>
    <div>{{tower.practice}}</div>
  </div>

  <div id="dove-link">
    <a href="https://dove.cccbr.org.uk/detail.php?TowerBase={{tower.towerId}}"
       target="_blank">
      Open Dove's Guide
    </a>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Close</button>
</mat-dialog-actions>
