<div class="search-div" fxLayout="column">
  <mat-form-field fxFlex class="search-form-field">
    <mat-label>Search:</mat-label>
    <input fxFlex matInput [(ngModel)]="name" (input)="selectionChange()" input="text">
    <button fxFlex *ngIf="name" matSuffix mat-icon-button (click)="clearName()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <p class="mat-body-strong">Filter By:</p>

  <mat-form-field fxFlex>
    <mat-label>County:</mat-label>
    <mat-select [(ngModel)]="county" (selectionChange)="selectionChange()">
      <mat-option *ngFor="let county of countyList" [value]="county">
        {{county}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Bells:</mat-label>
    <mat-select [(ngModel)]="bells" (selectionChange)="selectionChange()">
      <mat-option *ngFor="let bells of bellsList" [value]="bells">
        {{bells}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Weight:</mat-label>
    <mat-select [(ngModel)]="weight" (selectionChange)="selectionChange()">
      <mat-option *ngFor="let weight of weightList" [value]="weight">
        {{(weight !== 0) ? '&gt; ' + weight + ' cwt' : ''}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Practice:</mat-label>
    <mat-select [(ngModel)]="practice" (selectionChange)="selectionChange()">
      <mat-option *ngFor="let practice of practiceList" [value]="practice">
        {{practice}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div>
