<div class="search-div">
  <div class="title-div">
    <h2>Search</h2>
    <button mat-icon-button (click)="close()">
      <fa-icon [icon]="faTimes" size="lg"></fa-icon>
    </button>
  </div>

  <!-- Place name -->
  <mat-form-field>
    <mat-label>Place:</mat-label>
    <input matInput [(ngModel)]="place" (input)="searchUpdate()" input="text">
    <button *ngIf="place" matSuffix mat-icon-button (click)="clearPlace()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </mat-form-field>

  <!-- Number of bells and ringable/unringable -->
  <div class="bells-div">
    <mat-form-field>
      <mat-label>Bells:</mat-label>
      <mat-select [(ngModel)]="bells" (selectionChange)="searchUpdate()">
        <mat-option *ngFor="let bells of bellsList" [value]="bells">
          {{bells}}+
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Unringable:</mat-label>
      <mat-select [(ngModel)]="unringable" (selectionChange)="searchUpdate()">
        <mat-option *ngFor="let unringable of unringableList" [value]="unringable">
          {{unringable ? "Include": "Exclude"}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tenor weight -->
  <mat-form-field>
    <mat-label>Weight:</mat-label>
    <mat-select [(ngModel)]="weight" (selectionChange)="searchUpdate()">
      <mat-option *ngFor="let weight of weightList" [value]="weight">
        {{(weight !== 0) ? '&gt; ' + weight + ' cwt' : ''}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Practice night -->
  <mat-form-field>
    <mat-label>Practice:</mat-label>
    <mat-select [(ngModel)]="practice" (selectionChange)="searchUpdate()">
      <mat-option *ngFor="let practice of practiceList" [value]="practice">
        {{practice}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- County -->
  <mat-form-field>
    <mat-label>County:</mat-label>
    <mat-select [(ngModel)]="county" (selectionChange)="searchUpdate()">
      <mat-option *ngFor="let county of countyList" [value]="county"> {{county}}
    </mat-option> </mat-select>
  </mat-form-field>

  <!-- Restrict to British Isle -->
  <mat-checkbox [(ngModel)]="britishIslesOnly" (change)="searchUpdate()">
    British Isles only
  </mat-checkbox>

  <button class="clear-button" mat-raised-button color="primary" (click)="clearAll()">Clear All</button>

  <h3>Settings:</h3>

  <mat-checkbox [(ngModel)]="autozoom" (change)="searchUpdate()">
    Auto zoom
  </mat-checkbox>

<div>
