<div class="search-div" fxLayout="column">
  <div fxFlex fxLayout="row" fxLayoutAlign="start baseline">
    <h2 fxFlex="grow">Search</h2>
    <button fxFlex="none" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Place name -->
  <mat-form-field fxFlex class="search-row">
    <mat-label>Place:</mat-label>
    <input fxFlex matInput [(ngModel)]="place" (input)="searchUpdate()" input="text">
    <button fxFlex *ngIf="place" matSuffix mat-icon-button (click)="clearPlace()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- County -->
  <mat-form-field fxFlex class="search-row">
    <mat-label>County:</mat-label>
    <mat-select [(ngModel)]="county" (selectionChange)="searchUpdate()">
      <mat-option *ngFor="let county of countyList" [value]="county">
        {{county}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Number of bells and ringable/unringable -->
  <div fxFlex fxLayout fxLayoutGap="8px" class="search-row">
    <mat-form-field fxFlex="0 0 60px">
      <mat-label>Bells:</mat-label>
      <mat-select [(ngModel)]="bells" (selectionChange)="searchUpdate()">
        <mat-option *ngFor="let bells of bellsList" [value]="bells">
          {{bells}}+
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="1 0 60px">
      <mat-label>Unringable:</mat-label>
      <mat-select [(ngModel)]="unringable" (selectionChange)="searchUpdate()">
        <mat-option *ngFor="let unringable of unringableList" [value]="unringable">
          {{unringable ? "Include": "Exclude"}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tenor weight -->
  <mat-form-field fxFlex class="search-row">
    <mat-label>Weight:</mat-label>
    <mat-select [(ngModel)]="weight" (selectionChange)="searchUpdate()">
      <mat-option *ngFor="let weight of weightList" [value]="weight">
        {{(weight !== 0) ? '&gt; ' + weight + ' cwt' : ''}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Practice night -->
  <mat-form-field fxFlex class="search-row">
    <mat-label>Practice:</mat-label>
    <mat-select [(ngModel)]="practice" (selectionChange)="searchUpdate()">
      <mat-option *ngFor="let practice of practiceList" [value]="practice">
        {{practice}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button fxFlex class="clear-button" mat-raised-button color="primary" (click)="clearAll()">Clear All</button>

  <h3 fxFlex>Settings:</h3>

  <mat-checkbox fxFlex [(ngModel)]="autozoom" (change)="searchUpdate()">
    Auto zoom
  </mat-checkbox>

<div>
